/* remove this code and add your own! */
body{
  background-color: white;

  

}



i{
  color: black;
  font-size: medium;
  text-align: auto;
  
 
  ;
  
  
}

img{
  border-radius: 50%;
  border:3px solid purple;
  font-family: Georgia, 'Times New Roman', Times, serif; 
}


.sidebar{
  height: 135%;
  width: 375px;
  position: absolute;
  right: 75px;
  top: 0;
  padding: 50px;
  background-color: hotpink;
  margin-left: 30%;

}




.body-text{
  color: black;
  margin: 50px;px;
  font: size 18px;
  top: 5px;
  
}

p{
  font-size: 20px;
  text-align: right;
  margin-right: 50%;
  color:black;

}

h6{
  font-size: larger;
  font-style: oblique;
}

 